################ CMake ################
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build/

################## C++ #################

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


################## VSCode #################
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# ignore pytorch folder
thirdparty/pytorch/

# ignore Pangolin folder
thirdparty/Pangolin/

################### Doc #####################
doc/xfeatSLAM.mkv
notes.txt

################## Bash #####################
build.sh
run.sh

################## Test #####################
data/
examples/test/
examples/Stereo-Inertial

dataset-corridor4_512_16/
rgbd_dataset_freiburg1_xyz/
rgbd_dataset_freiburg1_rpy/
rgbd_dataset_freiburg2_xyz/

CMakeLists.txt.user
CMakeLists_modified.txt

examples/RGB-D/rgbd_tum
examples/RGB-D/rgbd_realsense_D435i

examples/RGB-D-Inertial/rgbd_inertial_realsense_D435i

examples/Monocular/mono_realsense_D435i
examples/Monocular/mono_euroc
examples/Monocular/mono_kitti
examples/Monocular/mono_tum
examples/Monocular/mono_tum_vi
examples/Monocular/mono_realsense_t265

examples/Stereo/stereo_euroc
examples/Stereo/stereo_kitti
examples/Stereo/stereo_tum_vi
examples/Stereo/stereo_realsense_t265
examples/Stereo/stereo_realsense_D435i

examples/Monocular-Inertial/mono_inertial_euroc
examples/Monocular-Inertial/mono_inertial_tum_vi
examples/Monocular-Inertial/mono_inertial_realsense_t265
examples/Monocular-Inertial/mono_inertial_realsense_D435i
examples/Monocular-Inertial/mono_inertial_realsense_D435i_2

examples/Stereo-Inertial/stereo_inertial_euroc
examples/Stereo-Inertial/stereo_inertial_tum_vi
examples/Stereo-Inertial/stereo_inertial_realsense_t265
examples/Stereo-Inertial/stereo_inertial_realsense_D435i


examples/ROS/ORB_SLAM3/Mono
examples/ROS/ORB_SLAM3/Mono_Inertial
examples/ROS/ORB_SLAM3/MonoAR
examples/ROS/ORB_SLAM3/RGBD
examples/ROS/ORB_SLAM3/Stereo
examples/ROS/ORB_SLAM3/Stereo_Inertial

examples/Calibration/recorder_realsense_D435i

examples/Tests/viewer_dataset
examples/Tests/sophus_test

examples/ROS/ORB_SLAM3/CMakeLists.txt.user
examples/ROS/ORB_SLAM3/build/

KeyFrameTrajectory.txt
CameraTrajectory.txt
kf_*.txt
f_*.txt
thirdparty/DBoW2/build/
thirdparty/DBoW2/lib/
thirdparty/g2o/build/
thirdparty/g2o/config.h
thirdparty/g2o/lib/
Vocabulary/ORBvoc.txt
build/

lib/

cmake_modules/
cmake-build-debug/

ExecMean.txt
SessionInfo.txt
Results_Euroc.txt
LBA_Stats.txt
LocalMapTimeStats.txt
TrackLocalMapStats.txt
TrackingTimeStats.txt

Table_Euroc
Table_TUMVI_rooms/
*.pyc
*.osa
.idea/
my_settings.txt

borrar/*

*/ExecMean.txt

KeyFrameTrajectory.txt